@import "_variables"
@import "_mixins"

.filters
	background-color: #edf2f6
	padding: 20px
	h2
		margin: 0
	.flex-filters
		@include flexBoxVendor
		flex-wrap: wrap
		align-items: center
		.filter
			@include flexBoxVendor
			flex-wrap: wrap
			flex-grow: 1
			label
				padding-right: 15px
			input
				flex-grow: 1
				padding-right: 5px

.admin-dashboard.dashboard-container
	.collapsible
		font-size: 14px
	.nominee-form
		display: flex
		button
			cursor: pointer
			i:before
				transition: 0.2s all ease-in
			i:hover:before
				transform: scale(1.5)
	.flex-table
		@include flexBoxVendor
		text-align: left
		flex-wrap: wrap
		flex-direction: column
		.flex-table-cell
			text-align: left
			border-top: 1px solid #ccc
			overflow: hidden
			padding: 10px
			box-sizing: border-box
			color: #777
			.dashboard-icon
				width: 70%
				text-align: center
				display: inline-block
				vertical-align: middle
				margin: 5px
				i
					color: #bbb
					&.dark
						color: $etsit-blue
					&.exists
						color: rgb(155, 205, 88)
					&.app-form
						color: rgb(247, 147, 30)
						&.green
							color: rgb(155, 205, 88)
			.big-hidden
				display: none
		.flex-table-header
			font-weight: bold
			border-top: none
			color: #333
		.flex-table-email
			width: 17%
		.flex-table-univ
			width: 16%
		.flex-table-period
			width: 16%
		.flex-table-app-form
			width: 7%
			a
				@include flexBoxVendor
				justify-content: flex-end
				i
					margin-left: 2px
		.flex-table-mot-letter
			width: 6%
		.flex-table-cv
			width: 6%
		.flex-table-trans-rec
			width: 6%
		.flex-table-la
			width: 6%
		.flex-table-pctg
			width: 6%
			font-weight: bold
		.flex-table-status
			width: 12%
			border-right: none
		.flex-table-email-nominee
			width: calc(100% - 120px)
		.flex-table-resend
			width: 60px
		.flex-table-erase
			width: 60px			
		&.nominee-table
			align-items: stretch
			.flex-table-cell
				.dashboard-icon
					text-align: left
					padding-left: 2%
					.custom-button
						font-size: 14px
			.flex-table-header
				min-height: 30px		
		&.user-table

.nominee-item
	background-color: #edf2f6
	display: flex
.registered-item
	background-color: white
	display: flex
.table-header
	display: flex