@import "../variables"
#edit-picture-dialog
	padding: 25px
	display: none
	canvas#canvas
		width: 150px
		height: 150px
		display: none
	.title
		margin-top: 0
		display: inline-block
	.close
		margin: -18px
	.flex-container
		.image-container
			display: inline-block
			.picture
				width: 150px
		.image-edit-actions
			display: inline-block
			vertical-align: top
			padding: 10px
			.input-file
			.custom-button
				margin: 10px
.dashboard-container 
	display: flex
	.left-column
		flex-grow: 1
		text-align: center
		padding-right: 15px
		flex-direction: row
	
		.picture
			width: 90px
			padding: 10px
			border: 1px solid #333
			&.tiny
				width: 50px
		.edit-picture
			position: absolute
			margin-left: 89px
			margin-top: 1px
			width: 22px
			height: 22px
			padding: 0
			border: none
			background-color: white
			i
				padding: 0
				color: $etsit_blue
				cursor: pointer
	.right-column
		flex-grow: 7
		.row
			border-top: 1px solid #777
			padding: 10px
			min-height: 50px
			.dashboard-section
				font-size: 18px
				font-weight: bold
				cursor: pointer
				display: block
				label
					cursor: pointer
					.caret
						color: #aaa
						&:before
						transition: 0.2s all ease-in
						&.reverse:before
							transition: 0.2s all ease-in
							transform: rotate(180deg)
						&.no-reverse:before
							transition: 0.2s all ease-in
							transform: rotate(0deg)
			.second-container
				display: flex
				.second-container-left
					flex-grow: 1
				.second-container-medium
					flex-grow: 4
					text-align: center
				.second-container-right
					flex-grow: 1
					text-align: right
			.check_mark
				float: right
				margin-top: -25px
				.green
					color: green
			.collapsible
				// display: none
				height: 0
				transition: 0.2s height ease-in
				//transition: 0.2s opacity step-end
				overflow: hidden
				&.show
					display: block
					height: 91px
					&.big
						height: 140px
				.align-right
					text-align: right
					display: flex
					justify-content: flex-end
					input, button
						margin-right: 2px
					form
						display: inline-block
					.file-name
						flex-grow: 1
						display: inline-block	
						text-align: left
						padding-left: 15px
						span:hover
							text-decoration: underline
						i
							color: $etsit-blue

@media (max-width: 768px)
	.dashboard-container
		flex-direction: column
