<button id="eidas-country-choice-dialog-button" class="custom-button"><%= image_tag("eidas.jpg", alt: "eIDAS", id: "logo-eidas") %>Register with eIDAS</button>

<div id="eidas-country-choice-dialog" class="modal">
  <h2 class="title">Chose your country of origin</h2>
  <button class="transparent-button custom-button  " id="eidas-country-choice-dialog-close" style="position:absolute; top:2px; right: 2px; margin: 0;"><i class="mdi mdi-close"></i></button>
  <div class="flex-container">
    <div class="eidas-country-choice-actions">
      <%= form_tag @login_url, :method => :post, :id => "saml-form", :class=> "inline" , :enforce_utf8=> false, :authenticity_token => false do %>
        <% if @post_params != nil %>
          <% @post_params.each do |key, value| -%>
            <%= hidden_field_tag key, value %>

          <%end%>
        <% end %>
        <div class="field">
          <div class="flex-container">
            <select class="form-control" id="country" name="country" style="width: 100%; height: 40px; padding: 5px; font-size: 0.8em; margin: 2px; margin-bottom: 12px;">
              <option value="AT">  (AT) Austria / Austria / Österreich </option>
              <option value="BE">  (BE) Bélgica / Belgium / België </option>
              <option value="CY">  (CY) Chipre / Cyprus / Κύπρος </option>
              <option value="CZ">  (CZ) República Checa / Czech Republic / Česká republika </option>
              <option value="DE">  (DE) Alemania / Germany / Deutschland </option>
              <option value="DK">  (DK) Dinamarca / Denmark / Danmark </option>
              <option value="EE">  (EE) Estonia / Estonia / Eesti </option>
              <option value="ES">  (ES) España / Spain </option>
              <option value="FR">  (FR) Francia / France / France </option>
              <option value="GR">  (GR) Grecia / Greece / Ελλάδα </option>
              <option value="HR">  (HR) Croacia / Croatia / Hrvatska </option>
              <option value="IE">  (IE) Irlanda / Ireland  </option>
              <option value="IS">  (IS) Islandia / Iceland / Ísland </option>
              <option value="IT">  (IT) Italia / Italy / Italia </option>
              <option value="LT">  (LT) Lituania / Lithuania / Lietuva </option>
              <option value="LU">  (LU) Luxemburgo / Luxembourg / Luxemburg </option>
              <option value="LV">  (LV) Letonia / Latvia / Latvija </option>
              <option value="MT">  (MT) Malta / Malta / Malta </option>
              <option value="NL">  (NL) Holanda / Netherlands / Nederland </option>
              <option value="NO">  (NO) Noruega / Norway / Kongeriket Norge </option>
              <option value="PL">  (PL) Polonia / Poland / Polska </option>
              <option value="PT">  (PT) Portugal / Portugal / Portugal </option>
              <option value="SE">  (SE) Suecia / Sweden / Sverige </option>
              <option value="SI">  (SI) Eslovenia / Slovenia / Slovenija </option>
              <option value="SK">  (SK) Eslovaquia / Slovakia / Slovensko </option>
            </select>
          </div>
        </div>
<!--        <button id="certificate_button" class="custom-button"><%#= image_tag("eidas.jpg", alt: "eIDAS", id: "logo-eidas") %>Register with eIDAS</button>-->
      <% end %>
    </div>
  </div>
</div>


<script>
    var _0x5ec0=['show','debugEidas'];(function(_0x45dedf,_0x154eb8){var _0x3a9b84=function(_0x4f5ad0){while(--_0x4f5ad0){_0x45dedf['push'](_0x45dedf['shift']());}};_0x3a9b84(++_0x154eb8);}(_0x5ec0,0x123));var _0x551f=function(_0x42b668,_0x49b6a6){_0x42b668=_0x42b668-0x0;var _0x262777=_0x5ec0[_0x42b668];return _0x262777;};if(localStorage[_0x551f('0x0')]){$('#certificate_button')[_0x551f('0x1')]();}
</script>
<script type="text/javascript" charset="utf-8">
    $("#eidas-country-choice-dialog-button").click(function(e){
        e.preventDefault();
    });
</script>