<script type="text/javascript" charset="utf-8">
    $("certificate_button").click(function(e){
        e.preventDefault();
    });
</script>

<%= form_tag @login_url, :method => :post, :id => "saml-form", :class => "custom-button primary", :enforce_utf8=> false, :authenticity_token => false do %>
  <% if @post_params != nil %>
    <% @post_params.each do |key, value| -%>
      <%= hidden_field_tag key, value %>
    <%end%>
  <% end %>
     <button id="certificate_button" class="custom-button primary">I have a digital certificate</button>
    <% end %>
