@import "../variables"
@import "../mixins"
.finish_app
	margin: 0 0 20px 0
	float: right
.student-application-form

	h1
		display: inline-block
		font-size: 22px
		font-weight: lighter
		.fake-arrow
			padding: 0px 10px
			font-weight: bold
			color: $etsit_blue
	h2.form-subtitle
		display: inline-block
		font-size: 22px
		color: $etsit_blue

	form
		.edit_student_application_flex
			@include flexBoxVendor
			flex-wrap: wrap
			min-height: 450px
			align-content: start
		.personal_data
			min-height: 450px
		.personal_data, .study_year, .sending_institution, .purpose_stay, .languages, .work_experience, .studies
			padding: 20px
			.field
				flex: 0 auto
				padding: 10px !important
			.field25
				flex: 1 0 23%
			.field50
				flex: 1 0 48%
				input
					max-width: 390px
			.field100
				flex: 1  100%
				input, textarea
					width: 98%
					resize: none


		.other-languages, .other-work
			padding: 10px
		.other-work
			display: block
			width: 100%
			&.hidden
				display: none
		.field
			display: inline-block
			padding: 15px !important
			padding-left: 0px !important
			flex-grow: 1
			&.hidden
				display: none
			.flex-container
				@include flexBoxVendor
				align-items: center
				label
					width: 130px
					padding-right: 12px
					line-height: 1em
					text-align: right
					flex-shrink: 0
				.checkBox
					text-align: left
					width: auto
					max-width: 100%
					padding-left: 12px
					padding-right: 12px
				input:not([type="radio"]), select
					flex-grow: 1
				input[type="checkbox"]
					flex-grow: 0
		.field_inst_sending_name
			width: calc(50% - 25px)
		.field_erasmus_code
			width: calc(50% - 25px)
		.field_dept_coordinator
			width: 100%
		.field_school_family_dpt
			// width: calc(50% - 25px)
			width: 100%
		.field_inst_adress
			// width: calc(50% - 25px)
			width: 100%
			input
				height: 50px !important
		.field_contact_person, .field_inst_telephone, .field_inst_email
			width: calc(33% - 22px)
		.block, .actions 
			display: block
			//width: 100%
		.action-buttons
			display: block
			padding: 15px
		.lang, .work
			border-bottom: 1px solid grey
			@include flexBoxVendor
			flex-wrap: wrap
			align-items: center
			background-color: #edf2f6
			padding: 0 15px 0 0
			position: relative

			.field
				input:not([type="submit"])
					width: auto
				select
					width: 195px
				label
					width: 80px

			.delete-lang-button, .delete-work-button
				vertical-align: middle
				transition: 0.2s all ease-in
				position: absolute
				right: 10px
				top: 10px
				&:hover
					transform: scale(1.2)
		.lang:last-child, .work:last-child
			border-bottom: none
		.work-list
			.field:first-child, .field:nth-child(2)
				width: 40%
		.lang-list
			margin: 20px 0

.back-save-dashboard
	display: inline-block
	margin-bottom: -10px


@media (max-width: 600px)
	.student-application-form
		form
			.edit_student_application_flex
				padding: 0
			.languages
				.field
					padding: 0 !important
				.main_lang
					.flex-container
						flex-direction: column
						select
							max-width: 300px


			.personal_data, .study_year, .sending_institution, .purpose_stay, .languages, .work_experience, .studies
				.flex-container
					align-items: left
					label
						text-align: left
						align-self: flex-start

						padding: 10px
					input, select
						width: 100%

			.lang
				padding: 10px
				.field
					width: auto !important

@media (max-width: 800px)
	.student-application-form
		h1
			display: block
			font-size: 22px
			font-weight: lighter
			.fake-arrow
				padding: 0px 10px
				font-weight: bold
				color: $etsit_blue
				display: none
		h2.form-subtitle
			display: inline-block
			font-size: 22px
			color: $etsit_blue
			margin: 0
		form
			.first-fc
				margin-top: 40px
			.field_inst_sending_name
				width: 100%
			.field_erasmus_code
				width: 100%
			.field_contact_person, .field_inst_telephone, .field_inst_email
				width: 100%
			.lang, .work
				padding-bottom: 10px
				border-bottom: 1px solid grey
				@include flexBoxVendor
				flex-direction: column
				align-items: flex-start
				.field
					width: 100%
					&:first-child
						order: 0
				.delete-lang-button, .delete-work-button
					vertical-align: middle
					align-self: flex-end
			.work-list
				.field:first-child, .field:nth-child(2n)
					width: 100%
				.field
					select
						width: 100%

