@import "../variables"

.progress-bar
	position: relative
	display: inline-block
	.progress-line
		height: 2px
		position: absolute
		background-color: $etsit_blue
		top: calc(50% + 1px)
		width: 100%
		z-index: -1
	.progress-ball
		border: 1px solid white
		background-color: $etsit_blue
		border-radius: 50%
		width: 10px
		vertical-align: middle
		height: 10px
		margin: 0px 20px
		display: inline-block
		&.previous-step
			height: 7px
			width: 7px
		&.future-step
			 
		&.todo-step
			background-color: white
			border-color: $etsit_blue
		&.done-step
			background-color: $etsit_blue
			border-color: white
.progress-buttons
		float: right
@media (max-width: 628px)
	.progress-bar	
		.progress-line
			height: 1px	
		.progress-ball
				width: 6px
				height: 6px
				margin: 0px 10px
				&.previous-step
					height: 4px
					width: 4px
@media (max-width: 500px)
	.progress-bar
		display: none	