<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to eid4u.org, <%= @nominee.email %></h1>
    <p>
      To login create user on this website, just follow this link: <%= @nominee_url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>