@import "_variables"

.container
	display: block
	margin-left: 5%
	margin-right: 5%

.button
	float: left

.custom-button
	border-radius: 5px
	color: #4664A2
	background-color: white
	outline: none
	border: 2px solid $etsit_blue
	padding: 5px 10px
	cursor: pointer
