<div class="header">
  <a href="/" class="logo"><img src="/assets/logo.png"></img></a>
  <a href="http://www.etsit.upm.es/">Escuela técnica Superior de Ingenieros de Telecomunicación</a>
  <div class="header-right"></div>
</div>