<nav class="navbar-etsit">
    <div class="container">
        <div id="navlogos">
          <a class="navbar-brand upm-brand" href="http://www.upm.es"><%= image_tag "LOGO-UPM-WT.gif"%></a>
          <a class="navbar-brand etsit-brand" href="http://www.etsit.upm.es"><%= image_tag "LOGO_ETSIT_WT.gif" %></a>
        </div>
        <div class="header">
          <a href="http://www.etsit.upm.es/"><h3 class="navbar-header etsit-header">Escuela Técnica Superior de Ingenieros de Telecomunicación</h3></a>
          <a href="http://www.upm.es/"><h4 class="navbar-header upm-header">Universidad Politécnica de Madrid</h3></a>
          <div class="header-right"></div>
        </div>
    </div>
</nav>

